ClienteWeb/ClientePrueba/Connected Services/WSReporte/ServiceReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="admin_proyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion_proyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_report" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idReport" type="xs:int" />
      <xs:element minOccurs="0" name="id_Material" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_proyecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reporte" nillable="true" type="tns:Reporte" />
  <xs:complexType name="ArrayOfReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reporte" nillable="true" type="tns:Reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporte" nillable="true" type="tns:ArrayOfReporte" />
</xs:schema>