ClienteWeb/ClientePrueba/Connected Services/WSReporte/ServiceReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceReport" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58433/Services/Report/ServiceReport.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/Report/ServiceReport.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/Report/ServiceReport.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceReport_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_ConsultarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodos" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_ConsultarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_ConsultarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorId" />
  </wsdl:message>
  <wsdl:message name="IServiceReport_ConsultarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceReport">
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReport/Insertar" message="tns:IServiceReport_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReport/InsertarResponse" message="tns:IServiceReport_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReport/Editar" message="tns:IServiceReport_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReport/EditarResponse" message="tns:IServiceReport_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReport/Eliminar" message="tns:IServiceReport_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReport/EliminarResponse" message="tns:IServiceReport_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReport/ConsultarTodos" message="tns:IServiceReport_ConsultarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReport/ConsultarTodosResponse" message="tns:IServiceReport_ConsultarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReport/ConsultarPorId" message="tns:IServiceReport_ConsultarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReport/ConsultarPorIdResponse" message="tns:IServiceReport_ConsultarPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServiceReport" />
</wsdl:definitions>