ClienteWeb/ClientePrueba/Connected Services/MaterialMetales/MaterialMetal2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMetales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Metales" nillable="true" type="tns:Metales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetales" nillable="true" type="tns:ArrayOfMetales" />
  <xs:complexType name="Metales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MateriaPrima" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mineral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SemiFabricado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_metal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Metales" nillable="true" type="tns:Metales" />
</xs:schema>