ClienteWeb/ClientePrueba/Connected Services/MaterialAceroGH/MaterialAceroGH.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAceroGHerramienta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AceroGHerramienta" nillable="true" type="tns:AceroGHerramienta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAceroGHerramienta" nillable="true" type="tns:ArrayOfAceroGHerramienta" />
  <xs:complexType name="AceroGHerramienta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acabado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Medidas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_acerogh" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AceroGHerramienta" nillable="true" type="tns:AceroGHerramienta" />
</xs:schema>