ClienteWeb/ClientePrueba/Connected Services/MaterialAceroInoxidable/MaterialAceroInoxi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58433/Services/CRUD/MaterialAceroInoxi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" />
  <xs:element name="BuscarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" minOccurs="0" name="BuscarTodosResult" nillable="true" type="q1:ArrayOfAceroInoxidable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BucarId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_aceroInox" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BucarIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" minOccurs="0" name="BucarIdResult" nillable="true" type="q2:AceroInoxidable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" minOccurs="0" name="aceroinox" nillable="true" type="q3:AceroInoxidable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" minOccurs="0" name="aceroinox" nillable="true" type="q4:AceroInoxidable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" minOccurs="0" name="aceroinox" nillable="true" type="q5:AceroInoxidable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>