ClienteWeb/ClientePrueba/Connected Services/MaterialAceroInoxidable/MaterialAceroInoxi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaterialAceroInoxi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/MaterialAceroInoxi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/MaterialAceroInoxi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/MaterialAceroInoxi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaterialAceroInoxi_BuscarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodos" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_BuscarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_BucarId_InputMessage">
    <wsdl:part name="parameters" element="tns:BucarId" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_BucarId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BucarIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMaterialAceroInoxi_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaterialAceroInoxi">
    <wsdl:operation name="BuscarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/BuscarTodos" message="tns:IMaterialAceroInoxi_BuscarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/BuscarTodosResponse" message="tns:IMaterialAceroInoxi_BuscarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BucarId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/BucarId" message="tns:IMaterialAceroInoxi_BucarId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/BucarIdResponse" message="tns:IMaterialAceroInoxi_BucarId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/Create" message="tns:IMaterialAceroInoxi_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/CreateResponse" message="tns:IMaterialAceroInoxi_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/Edit" message="tns:IMaterialAceroInoxi_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/EditResponse" message="tns:IMaterialAceroInoxi_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/Delete" message="tns:IMaterialAceroInoxi_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialAceroInoxi/DeleteResponse" message="tns:IMaterialAceroInoxi_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MaterialAceroInoxi" />
</wsdl:definitions>