ClienteWeb/ClientePrueba/Connected Services/CUsuarios/AddUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddUser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/AddUser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/AddUser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58433/Services/CRUD/AddUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSMateriales.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddUser_NewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="IAddUser_NewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAddUser_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IAddUser_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAddUser_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IAddUser_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAddUser_ConsultarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodos" />
  </wsdl:message>
  <wsdl:message name="IAddUser_ConsultarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IAddUser_ConsultarPorMail_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorMail" />
  </wsdl:message>
  <wsdl:message name="IAddUser_ConsultarPorMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorMailResponse" />
  </wsdl:message>
  <wsdl:message name="IAddUser_ConsultarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorId" />
  </wsdl:message>
  <wsdl:message name="IAddUser_ConsultarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddUser">
    <wsdl:operation name="NewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddUser/NewUser" message="tns:IAddUser_NewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddUser/NewUserResponse" message="tns:IAddUser_NewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddUser/DeleteUser" message="tns:IAddUser_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddUser/DeleteUserResponse" message="tns:IAddUser_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddUser/EditUser" message="tns:IAddUser_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddUser/EditUserResponse" message="tns:IAddUser_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddUser/ConsultarTodos" message="tns:IAddUser_ConsultarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddUser/ConsultarTodosResponse" message="tns:IAddUser_ConsultarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddUser/ConsultarPorMail" message="tns:IAddUser_ConsultarPorMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddUser/ConsultarPorMailResponse" message="tns:IAddUser_ConsultarPorMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddUser/ConsultarPorId" message="tns:IAddUser_ConsultarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddUser/ConsultarPorIdResponse" message="tns:IAddUser_ConsultarPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="AddUser" />
</wsdl:definitions>